# Node.js
node_modules/
build/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.local
.env.*.local

# Git config
.gitconfig
.gitignore

# Python-related
*.pyc
__pycache__/

# Android-related
.android/
.gradle/
.eclipse/
.emulator_console_auth_token
expo/

# Windows folders
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/

# Miscellaneous
.cache/
.codeium/
.config/
.idlerc/
.lesshst
.p2/
.ssh/
.th-client/
.viminfo
VirtualBox/
WPS Cloud Files/
# Temporary files
*.tmp
*.swp
*.bak

# PDFs and other documents

*.ppt
*.txt

# Old projects and irrelevant files
oldgit.2/
oldrep.2/
example.html
od_form/
practise/
react/
typescript/
python.pdf
resume/
sql/
s/
sa/
sab/
sabari/
sakthi/

# Exclude specific files
*.cpp
*.c
